<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll1.dao.extend.AnswersVMMapper">
<select id="selectAll" resultMap="AnswersVMResultMap">
select*from poll_answers;
<!--  id selection checks content survey_id-->
</select>
<resultMap type="com.briup.apps.poll1.bean.extend.AnswersVM" id="AnswersVMResultMap">
<id column="id" property="id"/>
<result column="selection" property="selection"/>
<result column="checks" property="checks"/>
<result column="content" property="content"/>
<association 
      column="survey_id"
      select="com.briup.apps.poll1.dao.SurveyMapper.selectByPrimaryKey"
      property="survey"
></association>
</resultMap>
</mapper>