<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll1.dao.extend.GradeVMMapper">
   
   <select id="selectAll" resultMap="GradeVMResultMap">
   select * from poll_grade
   <!-- id name description school_id -->
   </select>
   
   <resultMap type="com.briup.apps.poll1.bean.extend.GradeVM" 
   id="GradeVMResultMap">
      <id column="id" property="id"/>
      <result column="name" property="name"/>
      <result column="description" property="descriptioin"/>
      
      <association  
         column="school_id" 
         select="com.briup.apps.poll1.dao.SchoolMapper.selectByPrimaryKey" 
         property="school">
      </association>
      
   </resultMap>
</mapper>